coverage/
node_modules/
packages/remark/*.d.ts
packages/remark-cli/*.d.ts
packages/remark-parse/lib/*.d.ts
packages/remark-parse/test.d.ts
packages/remark-stringify/lib/*.d.ts
packages/remark-stringify/test.d.ts
test.d.ts
.DS_Store
*.log
yarn.lock
