Titus Wormer <tituswormer@gmail.com>
Isaac Z. Schlueter <i@izs.me>
Komatsu Seiji <skomatsu.comutt@gmail.com>
Cyril Lakech <cyril.lakech@adeoservices.com>
Zack Bonebrake <info@gigonaut.com>
Omeid Matten <public@omeid.me>
Patrick Bartsch <bartsch98@gmail.com>
Chris Wren <cthewren@gmail.com>
Tsuyusato Kitsune <make.just.on@gmail.com>
Masahiro Miyashiro <3846masahiro+git@gmail.com>
Tom MacWright <tom@macwright.org> Tom MacWright <tmcw@users.noreply.github.com>
Min RK <benjaminrk@gmail.com> MinRK <benjaminrk@gmail.com>
Nick Baugh <niftylettuce@gmail.com>
Alex Leon <alexleon@domain.com.au>

# User names only.
anonymous (Niggler) <foo@bar.org>
anonymous (Mithgol) <getgit@mithgol.ru>
anonymous (insanehong) <intro957@gmail.com>
