html {
    font-size: 16px;
}

body {
    margin: 0;
}

h1 a {
    color: inherit;
}

header {
    width: 100%;
}

.logo {
    margin: 0 auto;
    display: block;
}

section {
    width: 100%;
    overflow: hidden;
}

fieldset {
    border-width: 0;
    float: left;
}

label {
    display: block;
    height: 1.6em;
}

input[type="number"] {
    width: 3em;
}

#write {
    left: 0;
    font-size: 0.75rem;
    font-family: "Courier New", "Courier", monospace;
}

#read, #write {
    box-sizing: border-box;
    display: block;

    width: 50%;

    float: left;
    height: 40em;

    border-width: 0;

    padding: 1em;
}

#read {
    right: 0;
    outline-width: 0;

    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
    font-size: 12px;
    word-wrap: break-word;
}
