html {
    font-size: 16px;
}

body {
    margin: 0;
}

h1 a {
    color: inherit;
}

header {
    width: 100%;
}

header h1 {
    font-size: 2rem;
    margin: 1.25rem;
    font-weight: bold;
    line-height: 1;
}

header a {
    text-decoration: none;
}

section {
    width: 100%;
    overflow: hidden;
}

fieldset {
    border-width: 0;
    float: left;
}

label {
    display: block;
    height: 1.6em;
}

#read, #write {
    box-sizing: border-box;
    display: block;

    width: 50%;

    float: left;
    height: 40em;

    border-width: 0;

    font-size: 0.75rem;
    font-family: "Courier New", "Courier", monospace;

    padding: 1em;
}

#read {
    right: 0;
}

#write {
    left: 0;
}

#read {
    outline-width: 0;
}
