html {
  font-family: system-ui;
  background-color: hsl(0deg 0% 97.5%);
}

body {
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: hsl(214deg 13% 5%);
    color: hsl(214deg 13% 95%);
  }
}

* {
  line-height: calc(1em + 1ex);
  box-sizing: border-box;
}

h1,
h2 {
  font-weight: 200;
}

h2 {
  font-size: 3em;
  line-height: 5rem;
  text-align: center;
}

.hl.unified { color: hsl(212deg 97% 43%); }

.hl,
a {
  color: #d80303;
}

a {
  text-decoration: none;
  transition: color 200ms;
}

a:hover,
a:focus,
a:target {
  color: inherit;
}

pre,
code {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: small;
}

p code,
li code {
  border-radius: 3px;
  background-color: hsl(214deg 13% 5% / 4%);
  padding: 0.2em 0.4em;
}

@media (prefers-color-scheme: dark) {
  p code,
  li code {
    background-color: hsl(0deg 0% 97.5% / 8%);
  }
}

p {
  margin-top: calc(1em + 1ex);
  margin-bottom: calc(1em + 1ex);
}

ol,
ul {
  padding: 0;
}

article,
footer {
  max-width: 36rem;
  margin: 0 auto;
  padding: 2rem;
}

.cover {
  position: relative;
  height: 95%;
  min-height: 95vh;
  max-width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  background-image: url("./cover.jpg");
  background-size: 100%;
  background-size: cover;
  background-position: center;
}

.cover::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 1em;
  border: 0.5em solid white;
  width: 0;
  height: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.cover-inner {
  user-select: none;
  text-align: center;
}

.cover .title {
  color: black;
  font-size: 6em;
  letter-spacing: 0.05em;
  margin-bottom: 1em;
}

.cover .byline {
  font-size: 1.66em;
}

footer {
  margin-top: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-top: 1px hsl(214deg 13% 90%) solid;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  footer {
    border-top-color: hsl(214deg 13% 12.5%);
  }
}

.window {
  margin: 2em auto;
  border: 1px solid;
  border-radius: 3px;
  font-size: 14px;
  box-shadow: 0 0 0 3px hsl(214deg 13% 5% / 2%);
}

@media (prefers-color-scheme: dark) {
  .window {
    box-shadow: 0 0 0 3px hsl(214deg 13% 0%);
  }
}

.window figcaption {
  display: flex;
  letter-spacing: 1px;
  border-bottom: 1px solid;
  padding-right: 66px;
  padding-left: 12px;
}

.window pre {
  padding: 7px 12px;
  margin: 0;
  line-height: 1.6;
  overflow: scroll;
}

.chrome.button {
  display: inline-block;
  border-radius: 50%;
  min-width: 12px;
  height: 12px;
  margin: 12px 6px;
  margin-left: 0;
}

.chrome.close {
  background-color: #ff5f56;
}

.chrome.minimize {
  background-color: #ffbd2e;
}

.chrome.fullscreen {
  background-color: #27c93f;
}

.chrome.title {
  flex: 1;
  text-align: center;
  line-height: 36px;
  white-space: nowrap;
  overflow: hidden;
}

.gist {
  border-color: #ddd;
  color: #777;
  background-color: #fdfdfc;
}

.gist figcaption {
  background: #fafafa;
  border-bottom-color: inherit;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.gist pre {
  color: #777;
}

.gist .chrome.button {
  background-color: #ccc;
}

@media (prefers-color-scheme: dark) {
  .gist {
    border-color: hsl(214deg 13% 12.5%);
    color: hsl(214deg 13% 97.5%);
    background-color: hsl(214deg 13% 7.5%);
  }

  .gist figcaption {
    background: hsl(214deg 13% 10%);
  }

  .gist pre {
    color: hsl(214deg 13% 97.5%);
  }

  .gist .chrome.button {
    background-color: hsl(214deg 13% 15%);
  }
}

.terminal {
  color: #93a1a1;
  background-color: #002b36;
  border-width: 0;
}

.terminal figcaption {
  border-bottom-color: #073642;
  color: #657b83;
}

.terminal .command::before,
.terminal .input::before {
  content: '$ ';
  font-weight: bold;
}

.terminal .input {
  font-weight: bold;
}

.terminal .hl {
  color: #b58900;
}

.terminal .chrome.close {
  background-color: #dc322f;
}

.terminal .chrome.minimize {
  background-color: #b58900;
}

.terminal .chrome.fullscreen {
  background-color: #859900;
}

.caret {
  font-weight: bold;
}

.hljs {
  padding: 0 !important;
  background: none !important;
}
