:root {
  --gray-0: #fafbfc;
  --gray-1: #f6f8fa;
  --gray-2: #e1e4e8;
  --gray-3: #d1d5da;
  --gray-4: #959da5;
  --gray-5: #6a737d;
  --gray-6: #586069;
  --gray-7: #444d56;
  --gray-8: #2f363d;
  --gray-9: #24292e;
  --gray-10: #010409;
  --hl: #d80303;
}

* {
  box-sizing: border-box;
  line-height: calc(1em + 1ex);
}

a {
  color: inherit;
  text-decoration: none;
}

a,
.hl {
  transition-duration: 200ms;
  transition-property: color;
}

a:focus,
a:hover {
  color: var(--hl);
}

a:focus .hl,
a:hover .hl {
  color: inherit;
}

blockquote,
dd,
details,
dl,
dt,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
label,
ol,
pre,
p,
summary,
table,
ul {
  margin: calc(1em + 1ex) 0;
}

b,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
.content th,
.content dt {
  font-weight: 600;
  letter-spacing: 0.2px;
}

body {
  background-color: var(--gray-0);
  margin: 0;
}

code,
kbd,
pre {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier,
    monospace;
  font-feature-settings: normal;
  font-size: smaller;
  line-height: calc(1em + (1 / 0.8 * 1ex));
}

html {
  color-scheme: light dark;
  font-family: system-ui;
  font-feature-settings: 'calt', 'clig', 'kern', 'liga';
  font-kerning: normal;
  text-size-adjust: 100%;
  word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
}

img {
  height: auto;
  max-width: 100%;
}

label {
  display: block;
}

main {
  margin: calc(2 * (1em + 1ex)) auto;
}

ol,
ul {
  list-style-type: none;
  padding-left: 0;
}

.center {
  text-align: center;
}

.container {
  margin-inline: auto;
  max-width: calc(40 * (1em + 1ex));
  width: 100%;
}

.container,
.playground-grid {
  padding-inline: calc(1em + 1ex);
}

.content a {
  color: var(--hl);
}

.content a:focus,
.content a:hover {
  color: inherit;
}

.content blockquote {
  color: var(--gray-8);
  padding-left: calc(1 * (1em + 1ex));
  position: relative;
}

.content blockquote::before {
  background-color: var(--gray-2);
  border-radius: 3px;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  width: calc(0.25 * (1em + 1ex));
}

.content blockquote pre,
.content li pre {
  border-radius: 3px;
  margin-inline: 0;
}

.content code {
  background-color: rgb(0 0 0 / 4%);
  border-radius: 3px;
  padding: 0.2em 0.4em;
}

.content dd {
  margin-top: 0;
  padding: 0 calc(1em + 1ex);
}

.content dt {
  font-style: italic;
  margin-bottom: 0;
}

.content dt + dt {
  margin-top: 0;
}

.content hr {
  background-color: rgb(0 0 0 / 4%);
  border: 0;
  border-radius: 3px;
  height: calc(0.25 * (1em + 1ex));
}

.content h1,
.landing h2 {
  font-size: 2.5em;
  margin-block: calc(0.4em + 0.7ex);
  padding-bottom: calc(0.2em + 0.2ex);
}

.content h2 {
  font-size: 2em;
  margin-block: calc(0.5 * (1em + 1.25ex));
  padding-bottom: calc(0.25 * (1em + 1ex));
}

.content h1,
.content h2 {
  border-bottom: 1px solid var(--gray-2);
}

.content h3 {
  font-size: 1.5em;
  margin-block: calc(0.6667 * (1em + 1.1667ex));
}

.content h4,
.landing p {
  font-size: 1.25em;
  margin-block: calc(0.8 * (1em + 1.1ex));
}

.content h6 {
  color: var(--gray-4);
}

.content img[align='left'] {
  padding-right: calc(1em + 1ex);
}

.content img[align='right'] {
  padding-left: calc(1em + 1ex);
}

.content img {
  background-color: transparent;
}

.content kbd {
  background-color: var(--gray-0);
  border-radius: 3px;
  border: 1px solid var(--gray-3);
  box-shadow: inset 0 -1px 0 var(--gray-4);
  color: var(--gray-7);
  padding: 0.2em 0.4em;
  vertical-align: middle;
}

.content li {
  margin-block: calc(0.25 * (1em + 1ex));
  margin-left: calc(1 * (1em + 1ex));
  word-wrap: break-all;
}

.content ol {
  list-style-type: decimal;
}

.content ol ol {
  list-style-type: lower-roman;
}

.content ol ol,
.content ol ul,
.content ul ol,
.content ul ul {
  margin-block: 0;
}

.content ol ol ol {
  list-style-type: lower-alpha;
}

.content pre {
  background-color: rgb(0 0 0 / 4%);
  font-size: inherit;
  margin-inline: calc(-1 * (1em + 1ex));
  padding: calc(1em + 1ex);
  overflow: auto;
  word-wrap: normal;
}

.content pre code {
  background-color: transparent;
  overflow: visible;
  padding: 0;
  white-space: pre;
  word-break: normal;
  word-wrap: normal;
}

.content summary {
  cursor: pointer;
}

.content table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  font-variant-numeric: lining-nums;
  overflow: auto;
  width: 100%;
}

.content td,
.content th {
  border: 1px solid var(--gray-3);
  padding: 0.4em 0.8em;
}

.content tr {
  background-color: var(--gray-0);
  border-top: 1px solid var(--gray-3);
}

.content tr:nth-child(2n) {
  background-color: var(--gray-1);
}

.content ul {
  list-style-type: circle;
}

.content ul ul {
  list-style-type: disc;
}

.content ul ul ul {
  list-style-type: square;
}

.content .task-list-item {
  list-style-type: none;
  margin-left: 0;
}

.content .task-list-item input {
  margin: 0;
  margin-right: calc(0.25 * (1em + 1ex));
}

.flex {
  flex: 1;
}

.justify-end {
  justify-content: flex-end;
}

.landing {
  --squircle-radius: 24px;
  --squircle-smooth: 1;

  background-image: linear-gradient(150deg, #d80303 15%, #010409 85%);
  border-radius: 8px;
  color: var(--gray-0);
  mask-image: paint(squircle);
}

.landing .article {
  padding: calc(1em + 1ex);
}

.landing .article > :first-child {
  margin-top: 0;
}

.landing .article > :last-child {
  margin-bottom: 0;
}

.remark .hl {
  color: var(--hl);
}

.row {
  display: flex;
  margin-inline: calc(-0.25em + -0.25ex);
}

.row > * {
  margin-inline: calc(0.25em + 0.25ex);
}

.row > .row {
  margin-inline: 0;
}

.tap-target {
  margin: calc(-0.25 * (1em + 1ex));
  padding: calc(0.25 * (1em + 1ex));
}

.playground-cell {
  border-radius: 3px;
  border: 1px solid var(--gray-2);
  margin-block: calc(1em + 1ex);
  overflow: auto;
  padding: calc(1em + 1ex);
}

.playground-code {
  font-size: inherit;
}

.playground-control-area fieldset[disabled] {
  opacity: 0.6;
}

.playground-control-area fieldset {
  border: 0;
  margin-inline: 0;
  padding: 0;
}

.playground-control-area label {
  font-size: smaller;
  display: block;
  margin-block: calc(0.5 * (1em + 1ex));
}

.playground-control-area select {
  padding: 0.5ex;
}

.playground-grid {
  gap: calc(1em + 1ex);
  min-height: 40rem;
}

.playground-input-area {
  background-color: rgb(0 0 0 / 4%);
}

.playground-input-area-group {
  max-width: 100%;
  min-height: calc(10 * (1em + 1ex));
  overflow: hidden;
  position: relative;
}

.playground-input-area-draw,
.playground-input-area-write {
  background: transparent;
  border: none;
  box-sizing: border-box;
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier,
    monospace;
  font-feature-settings: normal;
  font-size: 14px;
  height: 100%;
  letter-spacing: normal;
  line-height: calc(1 * (1em + 1ex));
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0;
  resize: none;
  tab-size: 4;
  white-space: pre-wrap;
  width: 100%;
  word-wrap: break-word;
}

.playground-input-area-write::selection {
  background-color: hsl(0deg 97.26% 42.94% / 66%);
  color: var(--fg);
}

.playground-input-area-write {
  -webkit-print-color-adjust: exact;
  caret-color: var(--hl);
  color: transparent;
  position: absolute;
  print-color-adjust: exact;
  top: 0;
}

.playground-input-area-draw .pl-mh,
.playground-input-area-draw .pl-mh .pl-en,
.playground-input-area-draw .pl-ms {
  /* Can’t have bold things; they mess with the textarea */
  font-weight: normal !important;
}

@media (width > 48em) {
  .article {
    font-size: 1.125em;
    padding-inline: calc(3 * (1em + 1ex) / 1.125);
  }

  .playground-result {
    padding-inline: calc(2 * 1em + 1ex);
  }

  .content blockquote,
  .content ol,
  .content ul {
    margin-left: calc(-1 * (1em + 1ex));
  }

  .content blockquote blockquote,
  .content blockquote ol,
  .content blockquote ul,
  .content ol blockquote,
  .content ol ol,
  .content ol ul,
  .content ul blockquote,
  .content ul ol,
  .content ul ul {
    margin-left: 0;
  }

  .content pre {
    border-radius: 3px;
  }

  .landing .article {
    padding: calc(6 * (1em + 1ex) / 1.125) calc(3 * (1em + 1ex) / 1.125);
  }
}

@media (width > 56em) {
  .playground-grid {
    display: grid;
    grid-template-columns: 49% 49%;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--gray-10);
    color: var(--gray-2);
  }

  .content blockquote::before {
    background-color: rgb(255 255 255 / 12%);
  }

  .content blockquote {
    color: var(--gray-4);
  }

  .content code,
  .content hr,
  .content kbd,
  .content pre {
    background-color: rgb(255 255 255 / 12%);
  }

  .content h1,
  .content h2 {
    border-bottom-color: var(--gray-8);
  }

  .content kbd {
    border-color: var(--gray-8);
    box-shadow: inset 0 -1px 0 #000;
    color: var(--gray-2);
  }

  .content td,
  .content th {
    border-color: var(--gray-6);
  }

  .content tr:nth-child(2n) {
    background-color: var(--gray-8);
  }

  .content tr {
    background-color: var(--gray-9);
    border-top-color: var(--gray-6);
  }

  .playground-cell {
    border-color: rgb(255 255 255 / 12%);
  }

  .playground-input-area {
    background-color: rgb(255 255 255 / 8%);
  }
}
